body{
    background-color: #3E2C41;
    
   
}
#navBar{
    background-color: #261C2C;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: sticky;
}
#inputSearch{
    width: 50%;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#catButton{
    background-color: #6E85B2;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    border: 0;
}
#bucketId{
    font-size: 30px;
    color:#6E85B2;
}
#bucketId:hover{
    color: #5C527F;
}
#categories{
    display: felx;
    align-items: center;
}
#catDiv{
    
    background-color: #5C527F;
    padding: 20px;
    border-radius: 5px;
}
#items{
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 5px;
}
#main{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
#mainid{
  
  border-radius: 5px;
  padding: 10px;
}
#catImage{
    border-radius: 5px;
    height: 200px;
    width: 300px;
    
    
    
}
#catImage:hover{
    
    opacity: 0.6;
    color: rgba(0,0,0,0.4);
    cursor: pointer;
    transform: scale(1.05);
    z-index: 1;
}
#heading{
    padding: 2px;
}
#addCategory{
    font-size: 25px;
    margin: 10px;
    color: #0d6efd;
    cursor: pointer;
}
#addCategory:hover{
    transform: scale(1.5) ;
}
#category-form{
    position: absolute;
    right: 400px;
    border: 2px solid lightblue;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    width: 500px;
    z-index: 1;
    }




#form-input{
    padding: 5px;
    margin: 5px;
    width: 100%;
    border: 2px solid black;
    
}
#form-button{
    width: 100%;
    padding: 5px;
    margin: 5px;
    
}
#form-button:active{
    transform: scale(1.05);
    
}
#catDiv1{
    display: flex;
    background-color:#3E2C41;
    align-items: center;
    margin: 10px;
}
#heading{
    margin-bottom: 30px;
}
#subcat2{
    display: flex;
    flex-direction: column;
    
    
    
}
.nameItems{
    display: block;
    color: black;
}
.itemDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #261C2C;
    border-radius: 5px;
    padding: 10px;
}
.itemDiv1{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    flex-flow: column;
    border:0;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 250px;
    
    box-shadow: rgba(0, 0, 0, .5);

}
.imgdiv{
    width: 100%;
    height: 200px;

}
#counter{
    font-size: 15px;
    color: white;
    border: 0;
    border-radius: 50%;
    background-color:orangered;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.cartItem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mainCart{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cartButtons{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.Mcart{
    border: 2px solid #0C2D48;;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;

}
#cancelCartButton{
    float: right;

}
#quantityCart{
    padding: 5px;
    font: bold;
    font-size: 50px;
}
#textCart{
    font-size: 20px;
    font: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}
.bill{
    display: flex;
    text-align: center;
    justify-content: space-around;
    border: 2px solid #0C2D48;
    border-radius: 5px;
    
    
}
.subBill{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}
.billText{
    font: bold;
    font-size: 20px;
    margin-top: 5px;
    padding: 5px;
}
.billh{
    margin-top: 20px;
}
#catImage1{
    border-radius: 5px;
}
#footer{
    background-color: #261C2C;
    height: 100px;
    margin-top: 20px;
}
.igrid{
    display: grid;
    grid-template-columns: auto auto auto ;
    margin: 5px;
    padding: 5px;
    
    
}
.divNanimation{
    background-color: red;
    height: 100px;
    width: 100px;
    transition: ease 5s;

}
.divNanimation:hover{
    width: 200px;
}
.loading{

    background-color: #3E2C41;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.loading-icon{
    position:flex;
    justify-content: center;
    text-align: center;
    margin-top: 50vh;

}
#cartImage{
    border-radius: 5px;
    height: 100px;
    width: 100px;
    text-align: center;

}
.carousel-Div{
    width: 1000px;
    height: 400px;
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 5px solid #261C2C;
    margin-left: auto;
    margin-right: auto;
    
}
.cas{
    
    justify-content: center;
    align-items: center;
    
    text-align: center;
    margin-top: 30px;
    
}
.carousel-Div:hover{
    opacity: 0.6;
}