#navBar{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
#inputSearch{
    width: 50%;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#catButton{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}
#bucketId{
    font-size: 30px;
    color:blue;
}
#bucketId:hover{
    color: darkblue;
}
#categories{
    display: felx;
    align-items: center;
}
#catDiv{
    
    background-color: lightblue;
    padding: 20px;
    border-radius: 5px;
}
#items{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    margin: 5px;
    border-radius: 5px;
}
#main{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
#mainid{
  background-color:lightgrey;
  border-radius: 5px;
  padding: 10px;
}
#catImage{
    border-radius: 5px;
    
    
}
#catImage:hover{
    cursor: pointer;
    transform: scale(1.05);
}
#heading{
    padding: 2px;
}
#addCategory{
    font-size: 25px;
    margin: 10px;
    color: #0d6efd;
    cursor: pointer;
}
#addCategory:hover{
    transform: scale(1.5) ;
}
#category-form{
    position: absolute;
    right: 0;
    border: 2px solid lightblue;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#form-input{
    padding: 5px;
    margin: 5px;
    width: 100%;
}
#form-button{
    width: 100%;
    padding: 5px;
    margin: 5px;
}
#catDiv1{
    display: flex;
    background-color: white;
    align-items: center;
    margin: 10px;
}
#heading{
    margin-bottom: 30px;
}